PROXY_COMMUNICATION_DIR="/var/appdynamics-php-proxy/proxy.communication"
LOG_DIRECTORY="/usr/lib/appdynamics-php-agent/logs"
JVM_OPTIONS=""
DEBUG="no"
MAX_HEAP_SIZE="300m"
MIN_HEAP_SIZE="50m"
MAX_PERM_SIZE="120m"